<div class="navbar nav container">
    <div class="navbar-brand text-success">
        <h3 class="fw-bold">Book Management System</h3>
    </div>
    <ul class="navbar-items">
        <a href="/" class="nav-link d-inline text-success">Home</a>
    </ul>
</div>